<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="About nicetranslady and links to her social media accounts. nicetranslady is a nice trans lady that is navigating life as an out (and transitioning) trans person. She's a geeky nerd and probably needs a hug.">
    <title>@ViewBag.Title</title>
    <link rel="canonical" href="https://nicetranslady.online/" />

    <!-- Scripts and Tags -->
    <partial name="_LayoutScriptsPartial" />

    <!-- favicons -->
    <partial name="_LayoutFavIconPartial" />

    <!-- Load Scripts required for MedBay -->
    @if (ViewBag.Title.StartsWith("nicetranslady | MedBay"))
    {
        <partial name="_LayoutAppMedBayPartial" />
    }

    <!-- Load Scripts required for MedBay -->
    @if (ViewBag.Title.StartsWith("nicetranslady | QuizTime"))
    {
        <partial name="_LayoutAppQuizTimePartial" />
    }

</head>
<body>
    <!-- Body Top Scripts and Tags -->
    <partial name="_LayoutBodyTopPartial" />

    <!-- Header -->
    <header>
        <partial name="_LayoutBannerPartial" />
    </header>

    <!-- Main -->
    <main>
        @RenderBody()
    </main>

    <!-- Footer -->
    <footer>
        <partial name="_LayoutFooterPartial" />
    </footer>

    <!-- Load Scripts -->
    <partial name="_ValidationScriptsPartial" />

    @*@RenderSection("Scripts", required: false)*@
</body>
</html>
